
.chats-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.main-chat {
    width: 100%;
    height: 100%;
}

.sidebar-chat {
    margin: 0;
    width: 20%;
    height: 99%;
    background-color: rgb(134 108 99 / .1);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.header-chat {
    width: 100%;
    height: 15%;
    background-color: inherit;
    display: flex;
    align-items: center;
}

.body-chat {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    width: 100%;
    height: 70%;
    background-color: #c0ebfc65;
    position: relative;
}

.footer-chat {
    width: 100%;
    height: 15%;
    padding: 0;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-salida {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4px;
}

.contenedor-entrada {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
}
.contenedor-archivado {
    position: relative;
}

.contenedor-archivado::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(94, 94, 94, 0.3);
    transform: translateY(-50%);
    z-index: 0;
}
.contenedor-archivado {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
}

.mensaje-salida,.mensaje-entrada, .mensaje-archivado {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.mensaje-salida {
    max-width: 55%;
    text-align: start;
    background-color: #4b7e93;
    padding:  8px;
    width: fit-content;
    border-radius: 8px;
    color: white;
    font-size: small;
}

.mensaje-entrada {
    max-width: 55%;
    text-align: start;
    background-color: rgb(134 108 99 / .6);
    padding: 8px;
    width: fit-content;
    border-radius: 8px;
    color: white;
    font-size: small;
}

.mensaje-archivado {
    max-width: 55%;
    text-align: center;
    background-color: rgba(65, 65, 65, 0.8);
    padding: 8px;
    width: fit-content;
    border-radius: 8px;
    color: white;
    font-size: small;
    z-index: 999999;
}



.enviar-msj {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-msg {
    width: 70%;
    height: 40px;
    margin-right: 8px;
    border: none;
    background-color: white;
    margin-left: 5px;
    outline: none;
    border-radius: 8px;
    color: rgb(70, 70, 70);
    padding: 4px;
}

.btn-msg {
    width: 60px;
    height: 40px;
    border-radius: 8px;
    padding: 5px;
    color: white;
    background-color: rgb(20 23 220 /0.6);
    border: none;
    cursor: pointer;
    transition: all;
    display: block;
}

.btn-msg:hover {
    background-color: rgb(20, 23, 220);
}

.header-icon {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-lista {
    /* background-color: #337e998a; */
    background-color: #5d727938;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

.header-item {
    display: flex;
    gap: 5px;
    padding: 5px;
    background-color: #4d4d4d;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    font-size: small;
}

.lista-main {
    width: 100%;
    height: calc(100% - 78px);
    display: flex;
}

.col-lista {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    /* width: 33.3%; */
    padding:  15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-lista:nth-child(odd) {
    width: 20%;
    padding: 0%;
}

.col-lista:nth-child(even) {
    width: 55%;
    padding: 0%;
    border-left: 2px solid rgba(255, 255, 255, 0.8);
    border-right: 2px solid rgba(255, 255, 255, 0.8);
}

.col-lista:last-child {
    padding: 10px 20px;
    width: 25%;
}



.item-lista {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 75px;
    padding: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #4b7e93;
    cursor: pointer;
    border-bottom: 2px solid white;
}

.item-lista:hover{
    background-color: #337e9979;
}

.btn-item {
    cursor: pointer;
}

.btn-item span{
    padding: 2px;
    background-color: white;
    color: #2c3e50;
    margin-left: 5px;
}

.timestamp {
    font-size: small;
    color: rgb(56, 56, 56);
}

.nombre-chat {
    display: flex;
    flex-direction: column;
}

.spinner-lista{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.checkbox {
    width: 30px ;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #4b7e93;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    transition: box-shadow 0.2s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
}

.checkbox:checked {
    background-color: #4b7e93;
    border: 2px solid #337e99;
    position: relative;
}

.checkbox:checked::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 5px;
    width: 8px;
    height: 16px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: block;
}



