.dashsidebar-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0.5rem;
    gap: 0.25rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.dashsidebar-logout {
    box-sizing: border-box;
    background-color: #f3f4f6;
    padding: 0.5rem;
    margin-top: auto;
    width: 90%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
    color: #4b5563;
}

.dashsidebar-logout:hover {
    background-color: #e5e7eb;
    color: #dc2626;
}

