@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #01002a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* padding: 2rem; */
html {
  background-color: #01002a;
  height: 100%;
  overflow: hidden;
}

#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #01002a;
}

*{
  margin: 0;
}

/* input, select{
  all: unset; 
  all: revert; 
  background-color: rgb(189, 189, 189) !important;
} */

/* button {
  all: unset;
}
 */





